KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=-D__arch_i386
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ASM_OBJS:=\
$(ARCHDIR)/asm/kboot.o \
$(ARCHDIR)/asm/exceptions.o \
$(ARCHDIR)/asm/i386_handler_irq15.o \
$(ARCHDIR)/asm/i386_handler_irq7.o \
$(ARCHDIR)/asm/syscall.o

KERNEL_CPU_OBJS:=\
$(ARCHDIR)/i386_cpu/i386_cpu.o \
$(ARCHDIR)/i386_cpu/i386_fpu.o \
$(ARCHDIR)/asm/i386_fpu_init.o

KERNEL_MEMORY_OBJS:=\
$(ARCHDIR)/memory/i386_block_alloc.o \
$(ARCHDIR)/memory/i386_virtual_mm.o \
$(ARCHDIR)/memory/i386_memory.o

KERNEL_CONTROLLER_OBJS:=\
$(ARCHDIR)/pic_8259/i386_pic.o

KERNEL_ARCH_OBJS:=\
$(KERNEL_ASM_OBJS) \
$(KERNEL_CPU_OBJS) \
$(KERNEL_MEMORY_OBJS) \
$(KERNEL_CONTROLLER_OBJS) \
$(ARCHDIR)/vga_tty/tty.o