KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=-D__arch_i386
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_CPU_OBJS:=\
$(ARCHDIR)/cpu/i386_cpu.o

KERNEL_EXCEPTION_OBJS:=\
$(ARCHDIR)/exception/i386_aligncheck.o \
$(ARCHDIR)/exception/i386_badopcode.o \
$(ARCHDIR)/exception/i386_bounderror.o \
$(ARCHDIR)/exception/i386_breakpoint.o \
$(ARCHDIR)/exception/i386_debugtrap.o \
$(ARCHDIR)/exception/i386_defaulthandler.o \
$(ARCHDIR)/exception/i386_deviceerror.o \
$(ARCHDIR)/exception/i386_divbyzero.o \
$(ARCHDIR)/exception/i386_doublefault.o \
$(ARCHDIR)/exception/i386_exception.o \
$(ARCHDIR)/exception/i386_fpuexception.o \
$(ARCHDIR)/exception/i386_genprotectfault.o \
$(ARCHDIR)/exception/i386_invalidtss.o \
$(ARCHDIR)/exception/i386_machinecheck.o \
$(ARCHDIR)/exception/i386_nmi.o \
$(ARCHDIR)/exception/i386_overflow.o \
$(ARCHDIR)/exception/i386_pagefault.o \
$(ARCHDIR)/exception/i386_securityexception.o \
$(ARCHDIR)/exception/i386_segnotpresent.o \
$(ARCHDIR)/exception/i386_simdexception.o \
$(ARCHDIR)/exception/i386_stacksegfault.o \
$(ARCHDIR)/exception/i386_virtualizeexception.o

KERNEL_INIT_OBJS:=\
$(ARCHDIR)/init/kboot.o \
$(ARCHDIR)/sys/syscall.o

KERNEL_MEMORY_OBJS:=\
$(ARCHDIR)/memory/memory_phys.o \
$(ARCHDIR)/memory/memory_virt.o \
$(ARCHDIR)/memory/i386_memory.o

KERNEL_PIC_OBJS:=\
$(ARCHDIR)/pic-8259/pic.o \
$(ARCHDIR)/pic-8259/irq15.o \
$(ARCHDIR)/pic-8259/irq7.o

KERNEL_SYS_OBJS:=

KERNEL_TTY_OBJS:=\
$(ARCHDIR)/vga_tty/tty.o

KERNEL_ARCH_OBJS:=\
$(KERNEL_CPU_OBJS) \
$(KERNEL_EXCEPTION_OBJS) \
$(KERNEL_INIT_OBJS) \
$(KERNEL_MEMORY_OBJS) \
$(KERNEL_PIC_OBJS) \
$(KERNEL_SYS_OBJS) \
$(KERNEL_TTY_OBJS)