KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=-D__arch_i386
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ASM_OBJS:=\
$(ARCHDIR)/asm/init/kboot.o \
$(ARCHDIR)/asm/device/pic-8259/i386_handler_irq15.o \
$(ARCHDIR)/asm/device/pic-8259/i386_handler_irq7.o \
$(ARCHDIR)/asm/device/timer-8254/timer-8254-irq.o \
$(ARCHDIR)/asm/sys/exceptions.o \
$(ARCHDIR)/asm/sys/syscall.o

KERNEL_CPU_OBJS:=\
$(ARCHDIR)/i386-cpu/i386_cpu.o \
$(ARCHDIR)/i386-cpu/i386_fpu.o \
$(ARCHDIR)/asm/device/i386-fpu/i386_fpu_init.o

KERNEL_MEMORY_OBJS:=\
$(ARCHDIR)/memory/i386_block_alloc.o \
$(ARCHDIR)/memory/i386_virtual_mm.o \
$(ARCHDIR)/memory/i386_memory.o

KERNEL_CONTROLLER_OBJS:=\
$(ARCHDIR)/pic-8259/i386_pic.o \
$(ARCHDIR)/timer-8254/timer-8254.o

KERNEL_ARCH_OBJS:=\
$(KERNEL_ASM_OBJS) \
$(KERNEL_CPU_OBJS) \
$(KERNEL_MEMORY_OBJS) \
$(KERNEL_CONTROLLER_OBJS) \
$(ARCHDIR)/vga_tty/tty.o